<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/a03/style.css">
</head>
<body>
  <header>
    <h1>Chat-App</h1>

    <nav>
      <a href="/login">Login</a>
      <a href="/register">Registrieren</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/rooms">Rooms</a>
      <a href="/chat?roomId=2">Chat</a>
      <a href="/profile">Profil</a>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>© 2025 Chat-App</p>
  </footer>
</body>
</html>
