<section class="card">
  <h2>Rooms</h2>

  <div class="rooms">
    {{#each rooms}}
      <div class="room">
        <a href="/chat?roomId={{this.id}}">
          {{this.name}}
        </a>
      </div>
    {{/each}}
  </div>
</section>

<section class="card">
  <h2>Benutzer online</h2>
  <p><b>{{onlineCount}}</b> Nutzer sind derzeit aktiv.</p>
</section>
