<header class="row">
  <h2>{{activeRoom.name}}</h2>
  <a class="btn right" href="/rooms">Zurück</a>
</header>

<section class="card">
  <div class="chat-area">
    {{#each messages}}
      <div class="msg {{#if mine}}me{{/if}}">
        {{#unless mine}}🙂 <b>{{author}}:</b>{{/unless}}
        {{text}}
      </div>
    {{/each}}

    <div class="typing">{{typingUser}} schreibt …</div>
  </div>

  <div class="input-bar">
    <input type="text" placeholder="Nachricht eingeben …">
    <button class="btn primary">▶</button>
  </div>
</section>
