<section class="card">
  <h2>Willkommen zurück, <b>{{user.username}}</b>!</h2>
  <p>Wähle einen Raum aus, um dem Chat beizutreten:</p>
</section>

<section class="card">
  <h2>Rooms</h2>
  <div class="rooms">
    {{#each rooms}}
      <div class="room">
        <span>{{this.name}}</span>
        <span class="right">🟢</span>
      </div>
    {{/each}}
  </div>
</section>

<section class="card">
  <h2>Statistiken</h2>
  <p>Messages: {{stats.messagesSent}}</p>
  <p>Online seit: {{stats.onlineSince}}</p>
</section>
