<section class="card">
  <form>
    <label for="email">E-Mail / Username</label>
    <input id="email" type="text">

    <label for="pw">Passwort</label>
    <input id="pw" type="password">

    <div class="row" style="margin-top:12px">
      <button class="btn primary" formaction="/rooms">Login</button>
    </div>
  </form>
</section>

<section class="card">
  <div class="row">
    <span>Noch kein Account?</span>
    <a class="btn link right" href="/register">Registrieren</a>
  </div>
</section>
